--hint[Cc]=off
--hint[Link]=off
--hint[Conf]=off
--hint[Processing]=off
--hint[XDeclaredButNotUsed]=off
--clearNimblePath
--path="$config/../"
--outdir="$nim/bin/"
@if nimdoc:
  # TBD
@else:
  --out="$nim/bin/git-nim"
@end
#--passL="-static"
--taintMode=off
--listFullPaths=off
--define:binsURL="https://github.com/nim-lang/nightlies"
--define:distURL="https://github.com/disruptek/dist"
#--define:gitnimDebug
